#login-box {
    height: 40vh;
    width: 40vw;
}

#login-button {
    margin-top: 1vh;
}

.adjust-height-login {
    height: 100vh;
}

.background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}