.adjust-form {
    max-height: 90vh;
    min-height: 30vh;
    max-width: 30vw;
    min-width: 20vw;
}
.adjust-table {
    border: 0;
}
.adjust-title {
    padding-top: 5vh;
}
.adjust-height {
    height: 100vh;
}
.modal-size {
    width: 40vw;
    padding: 3vh;
}
.modal-adjust-form {
    min-width: 20vw;
}